html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  }
  :root {
      --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  .card {
      border: 1px solid #dd2476;
      color: black;
      margin-bottom: 2rem;
  }
  
  .btn {
      border: 5px solid;
      border-image-slice: 1;
      background: var(--gradient) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      border-image-source: var(--gradient) !important;
      text-decoration: none;
      transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
      background: var(--gradient) !important;
      -webkit-background-clip: none !important;
      -webkit-text-fill-color: #fff !important;
      border: 5px solid #fff !important;
      box-shadow: #222 1px 0 10px;
      text-decoration: underline;
  }
  
  .holidayTracker2017-sceneContainer {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1
  }
  
      .holidayTracker2017-sceneContainer.holidayTracker2017-day, #pageContainer.tablet .holidayTracker2017-sceneContainer.holidayTracker2017-day {
          background: linear-gradient(#aab7b8,#fff)
      }
  
      .holidayTracker2017-sceneContainer.holidayTracker2017-night, #pageContainer.tablet .holidayTracker2017-sceneContainer.holidayTracker2017-night {
          background: linear-gradient(#008296,#fff)
      }
  
  .holidayTracker2017-lightstring, #pageContainer.tablet .holidayTracker2017-lightstring {
      width: 32%;
      padding-bottom: 500px;
      height: 0;
      max-width: 450px
  }
  
  #holidayTracker2017-lightstring-off, #pageContainer.tablet #holidayTracker2017-lightstring-off {
      background-image: url(https://m.media-amazon.com/images/G/01/x-locale/cs/ship-track/holidayTracker2017/lightstring_desktop_off.png)
  }
  
  #holidayTracker2017-lightstring-on, #pageContainer.tablet #holidayTracker2017-lightstring-on {
      background-image: url(https://m.media-amazon.com/images/G/01/x-locale/cs/ship-track/holidayTracker2017/lightstring_desktop_on.png)
  }
  
  .holidayTracker2017-sceneContainer.holidayTracker2017-day {
      background: #eaeded
  }
  
  #pageContainer.mobile .holidayTracker2017-sceneContainer.holidayTracker2017-night {
      background: #008296
  }
  
  
  
  .holidayTracker2017-day, #progressTracker-container.holidayTracker2017-day {
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      -webkit-font-smoothing: antialiased
  }
  
  .holidayTracker2017-snowDots {
      overflow: hidden;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      z-index: -1
  }
  
  .snow {
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -moz-animation: falling linear infinite both;
      -ms-animation: falling linear infinite both;
      -o-animation: falling linear infinite both;
      -webkit-animation: falling linear infinite both;
      -moz-transform: translate3D(0,-100%,0);
      -ms-transform: translate3D(0,-100%,0);
      -o-transform: translate3D(0,-100%,0);
      -webkit-transform: translate3D(0,-100%,0)
  }
  
  .snow-front {
      -moz-animation-duration: 20s;
      -ms-animation-duration: 20;
      -o-animation-duration: 20s;
      -webkit-animation-duration: 20s;
      background-image: url(https://m.media-amazon.com/images/G/01/x-locale/cs/ship-track/holidayTracker2017/snow-front.png);
      background-repeat: repeat
  }
  
      .snow-front + .snow-alt {
          -moz-animation-delay: 20s;
          -ms-animation-delay: 20s;
          -o-animation-delay: 20s;
          -webkit-animation-delay: 20s
      }
  
  .snow-mid {
      -moz-animation-duration: 20s;
      -ms-animation-duration: 20s;
      -o-animation-duration: 20s;
      -webkit-animation-duration: 20s;
      background-image: url(https://m.media-amazon.com/images/G/01/x-locale/cs/ship-track/holidayTracker2017/snow-mid.png);
      background-repeat: repeat
  }
  
      .snow-mid + .snow-alt {
          -moz-animation-delay: 10s;
          -ms-animation-delay: 10s;
          -o-animation-delay: 10s;
          -webkit-animation-delay: 10s
      }
  
  .snow-back {
      -moz-animation-duration: 30s;
      -ms-animation-duration: 30s;
      -o-animation-duration: 30s;
      -webkit-animation-duration: 30s;
      background-image: url(https://m.media-amazon.com/images/G/01/x-locale/cs/ship-track/holidayTracker2017/snow-back.png);
      background-repeat: repeat
  }
  
      .snow-back + .snow-alt {
          -moz-animation-delay: 15s;
          -ms-animation-delay: 15s;
          -o-animation-delay: 15s;
          -webkit-animation-delay: 15s
      }
  
  .holidayTracker2017-snowFlakes {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 100%;
      -moz-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
      -o-transform: translate(-50%,0);
      -webkit-transform: translate(-50%,0);
      overflow: hidden;
      z-index: -1
  }
  
  .snowflake-scene {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d
  }
  
      .snowflake-scene div {
          position: absolute;
          top: 0;
          left: 0;
          width: 35px;
          height: 35px;
          background: url(https://m.media-amazon.com/images/G/01/x-locale/cs/ship-track/holidayTracker2017/snowflake1.svg) no-repeat;
          background-size: 100%;
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          -webkit-transform-style: preserve-3d;
          backface-visibility: visible
      }
  
  .holidayTracker2017-lightstring {
      background-size: contain;
      background-position: top right;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1
  }
  
  #holidayTracker2017-lightstring-on.active {
      -moz-animation: lightSwitch 2s linear infinite;
      -ms-animation: lightSwitch 2s linear infinite;
      -o-animation: lightSwitch 2s linear infinite;
      -webkit-animation: lightSwitch 2s linear infinite;
  }
  
  #holidayTracker2017-lightstring-on:not(.active) {
      display: none
  }
  
  @-webkit-keyframes falling {
      0% {
          -webkit-transform: translate3D(-7.5%,-100%,0)
      }
  
      100% {
          -webkit-transform: translate3D(7.5%,100%,0)
      }
  }
  
  @-moz-keyframes falling {
      0% {
          -moz-transform: translate3D(-7.5%,-100%,0)
      }
  
      100% {
          -moz-transform: translate3D(7.5%,100%,0)
      }
  }
  
  @-o-keyframes falling {
      0% {
          -o-transform: translate3D(-7.5%,-100%,0)
      }
  
      100% {
          -o-transform: translate3D(7.5%,100%,0)
      }
  }
  
  @-ms-keyframes falling {
      0% {
          -ms-transform: translate3D(-7.5%,-100%,0)
      }
  
      100% {
          -ms-transform: translate3D(7.5%,100%,0)
      }
  }
  
  @keyframes falling {
      0% {
          transform: translate3D(-7.5%,-100%,0)
      }
  
      100% {
          transform: translate3D(7.5%,100%,0)
      }
  }
  
  @-webkit-keyframes lightSwitch {
      0% {
          opacity: 0
      }
  
      50% {
          opacity: 1
      }
  
      100% {
          opacity: 0
      }
  }
  
  @-moz-keyframes lightSwitch {
      0% {
          opacity: 0
      }
  
      50% {
          opacity: 1
      }
  
      100% {
          opacity: 0
      }
  }
  
  @-o-keyframes lightSwitch {
      0% {
          opacity: 0
      }
  
      50% {
          opacity: 1
      }
  
      100% {
          opacity: 0
      }
  }
  
  @-ms-keyframes lightSwitch {
      0% {
          opacity: 0
      }
  
      50% {
          opacity: 1
      }
  
      100% {
          opacity: 0
      }
  }
  
  @keyframes lightSwitch {
      0% {
          opacity: 0
      }
  
      50% {
          opacity: 1
      }
  
      100% {
          opacity: 0
      }
  }
  